/* Define the animation */
@keyframes leftToRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes rightToLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

img[alt="decorationLeft"] {
  animation: leftToRight 2s ease-out forwards;
  z-index: 999;
}

img[alt="decoration"] {
  animation: rightToLeft 2s ease-out forwards;
  z-index: 999;
}
